<!DOCTYPE html>
<html ng-app="myImage">
<head>
    <title>Docker Image</title>
    <% include header.ejs %>
</head>
<body role="document">
<div class="container">
    <% include navbar.ejs %>
    <!-- Main component for a primary marketing message or call to action -->
    <ol class="breadcrumb">
        <li><a href="/">Images</a></li>
        <li><a href="#"><%= image.id %></a></li>
    </ol>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Author</h3>
                </div>
                <div class="panel-body">
                    <%= (image.author)? image.author: '' %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <!-- Table -->
                <table class="table">
                    <tbody>
                    <tr><td class="col-md-3">OS</td><td><%= (image.os)? image.os: '' %></td></tr>
                    <tr><td class="col-md-3">Architecture</td><td><%= (image.architecture)? image.architecture: '' %></td></tr>
                    <tr><td class="col-md-3">Size</td><td><%= (image.totalSize)? (image.totalSize / 1024 / 1024).toFixed(2) + 'MB (' + image.totalSize + ')': '' %></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
    <%  if (image.config && !isEmptyObject(image.config.ExposedPorts)) {  %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exposed ports</h3>
                </div>
                <!-- Table -->
                <table class="table">
                    <tbody>
                    <% for (var port in image.config.ExposedPorts) {
                        var portInfo=port.split('/')
                    %>
                    <tr><td class="col-md-3"><%= portInfo[0] %></td><td><%= portInfo[1] %></td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
            </div>
    <% } %>
        </div>
        <div class="col-lg-6">
    <% if (image.config && !isEmptyObject(image.config.Volumes)) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Volumes</h3>
                </div>
                <!-- Table -->
                <table class="table">
                    <tbody>
                    <% for (var volume in image.config.Volumes) {
                    %>
                    <tr><td><%= volume %></td></tr>
                    <%
                    }
                    %>
                    </tbody>
                </table>
            </div>
    <% } %>
        </div>
    </div>
    <%
    if (image.config && !isEmptyArray(image.config.Env)) {
    %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Environment variables</h3>
        </div>
        <!-- Table -->
        <table class="table">
            <tbody>
            <% image.config.Env.forEach(function(envValue) {
                var envInfo=envValue.split('=')
            %>
            <tr><td class="col-md-3"><%= envInfo[0] %></td><td><%= envInfo[1] %></td></tr>
            <%
            })
            %>
            </tbody>
        </table>
    </div>
    <%
    }
    if (!isEmptyArray(layers)) {
    %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ancestry layers</h3>
        </div>
        <!-- Table -->
        <table class="table">
            <tbody>
            <% for (var i = 0; i < layers.length; i++) {
                var layer = layers[i];
                var href = (i === 0)? '#': '/private_registry/images/' + layer.id;
                var label = (layer.displayName) ? layer.id + ' (' + layer.displayName + ')' : layer.id;
            %>
                <tr>
                    <td>
                        &nbsp;<a href="<%= href %>"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        <% if (i > 0) { %>
                        <a href="<%= href %>"><%= label %></a>
                        <% } else { %>
                        <%= label %>
                        <% } %>
                    </td>
                </tr>
            <%}%>
            </tbody>
        </table>
    </div>
    <%
    }

    if (params.repo) { //Get the repo information from Docker Hub
    %>
    <div ng-init="repoName='<%= params.repo %>';tag='<%= params.tag %>';imageId='<%= image.id %>'">
        <div class="panel panel-default" ng-controller="imageInfoController">
            <div class="panel-heading">
                <h3 class="panel-title">Docker Hub information</h3>
            </div>
            <!-- Table -->
            <table class="table" ng-show="hasResult">
                <tbody>
                    <tr>
                        <td class="col-md-3">Repository name</td>
                        <td><a href="{{ repository.url }}" target="_blank" ng-bind="repository.name"></a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star icon-star"></span><span ng-bind="repository.star_count"></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Tag</td><td><span ng-bind="tag"></span>
                            <span class="label label-success" ng-show="status === 'matched'">Up-to-date</span>
                            <span class="label label-warning" ng-show="status === 'found'">Update available</span>
                            <span class="label label-danger" ng-show="status === 'not_found'">Not found</span>
                        </td>
                    </tr>
                    <tr><td class="col-md-3" ng-show="isReady">Description</td><td ng-bind="repository.description"></td></tr>
                    <tr>
                        <td class="col-md-3" ng-show="isReady">Automatic build</td>
                        <td><span class="glyphicon glyphicon-ok icon-success" ng-show="repository.is_automated"></span></td>
                    </tr>
                    <tr>
                        <td class="col-md-3" ng-show="isReady">Official repository</td>
                        <td><span class="glyphicon glyphicon-ok icon-success" ng-show="repository.is_official"></span></td>
                    </tr>
                    <tr><td class="col-md-3" ng-show="isReady">All tags</td><td ng-bind-template="{{ repository.tags.join(', ') }}"></td></tr>
                </tbody>
            </table>
            <span class="label label-danger" ng-show="status === 'invalid'" ng-bind-template="The repository '{{ repoName }}' is not found in Docker Hub. "></span>
            <div ng-show="!isReady"><p>&nbsp;&nbsp;<image src="/images/loading.gif"/> Loading ... </p></div>
        </div>
    </div>
    <%
    }
    %>
</div> <!-- /container -->
<% include footer.ejs %>
<script src = "/javascripts/controllers/imageContollers.js"></script>
</body>
</html>

