<!-- Static navbar -->
<div ng-controller="menuController">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Docker Registry</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% menu.forEach(function(item) {
                        var isActive = requestUrl.startsWith(item.href);
                    %>
                        <li <% if (isActive) { %>class="active"<% } %>>
                            <a href="<%= item.href %>" <% if (item["ng-click"]) { %>ng-click="<%= item["ng-click"] %>"<%}%>><%= item.label %></a>
                        </li>
                    <% }); %>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
    <script type="text/ng-template" id="settingsDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Settings</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Registry</h3>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-md-3">URL</td><td ><%= config.privateRegistry.baseURL%></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-heading">
                        <h3 class="panel-title">Docker Hub</h3>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-md-3">URL</td><td ><%= config.dockerHub.baseURL%></td>
                        </tr>
                        <tr>
                            <td class="col-md-3">Registry</td><td ><%= config.publicRegistry.baseURL%></td>
                        </tr>
                        <tr>
                            <td class="col-md-3">User</td><td ><%= config.dockerHub.user%></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-heading">
                        <h3 class="panel-title">Docker Client</h3>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="col-md-3">Socket Path</td>
                            <td ><%= config.docker.socketPath %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="aboutDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">About</h3>
            </div>
            <div class="modal-body">
                <p>This is a simple web console to manage the private docker image registry, and sync with the Docker Hub. </p>
                <a href="https://github.com/denverdino/docker-image-registry-console" target="_blank">Home Page of Docker Registry Console</a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="pullImageDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Pull image to my registry</h3>
            </div>
            <div class="modal-body">
                <p>Downloading "{{seletedImage}}" ... </p>
                <p>It will take a while in the background processing.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </div>
    </script>
</div>
